@import "../../css-config/mixins.scss";

.footer{
    width: 100%;
    .footer-content{
        padding: 3.125rem 1.25rem;
        max-width: 75rem;
        margin:0 auto;
        display: flex;
        flex-flow: wrap;
        gap:1.25rem;

        @include md{
            justify-content: space-around;
            padding: 3.125rem 0;
        }
        .col{
            max-width: 18.75rem;
            .title{
                margin-bottom: 1.25rem;
                font-size: 1.25rem;
            }
            .text{
                color:rgba(0,0,0,0.5);
                font-size: 0.875rem;
            }
            .contact-item{
                display: flex;
                margin-bottom: 0.625rem;
                svg{
                    flex-shrink: 0;
                    font-size: 0.875rem;
                    margin-right: 0.625rem;
                    margin-top: 0.25rem;
                    color:rgba(0,0,0,0.5);
                }
            }
            span{
                &.text{
                    display:block;
                }
            }
        }
    }
    .bottom-bar{
        border-top: 1.5px solid rgba(0,0,0,0.1);
        .bottom-bar-content{
            padding:1.25rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            gap:0.625rem;

            @include md{
                padding: 0;
                height:3.75rem;
                max-width: 75rem;
                margin: 0 auto;
                flex-direction: row;
                justify-content: space-between;
                text-align: left;
            }
            .text{
                font-size: 0.75rem;
                color:rgba(0,0,0,0.5);
            }
        }
    }
}